*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('../img/bg_1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:auto;
    background-position: top center;
}
.container {
	width: 960px;
    margin: 0 auto;
}
.section-bg {
    background-color: rgba(240, 240, 245, 0.7);
    border-radius: 20px;
    width: 980px;
    margin: 0 auto 20px;
    padding: 20px;
}
.header {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(240, 240, 235, 0.6);
    text-align:right;
}
.menu{
    margin: 0;
    min-height:80px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.menu-list {
	list-style-type: none;
    padding: 10px;
    border-left: 1px solid black;
}
.menu-list:last-child{
    border-right: 1px solid black;
}
.menu-link {
	text-decoration: none;
    color: black;
    font-size: 20px;
}
.section-title {
	text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 30px;
    padding: 0;
}
.section-subtitle{
    font-size: 22px;
    margin: 0;
}
.section-quoter {
	font-style: italic;
    font-size: 19px;
}
.section-text{
    text-align: justify;
}
.reviews{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
}
.reviews:hover .menu__reviws{
    display: block;
}
.menu__reviws{
    position: absolute;
    list-style-type: none;
    top:44px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 200px;
    display:none; 
}
.reviws__item{
    padding: 15px;
    background-color:darkgray;
    border-bottom: 1px solid black;
}
.reviws__item:hover{
    background-color: coral;
}
.reviws__link{
    color:currentColor; 
    text-decoration: none;
}
.card{
    padding: 0 20px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    text-align: center;
}
.card-title {
	text-align: center;
    margin: 0 0 20px;
    padding: 0;
}
.card-img {
	width: 350px;
    height: 500px;
}
.card-text{
    font-size: 20px;
}
.card-link {
	text-decoration: none;
    color: blue;
}
.news-img{
    width: 600px;
    height: 400px;
}
.form{
    width: 90%;
    margin: 0 auto;
}
.news-link-author{
    text-decoration: none;
    color: crimson;
    margin-right: 10px;
}
.link-anchor, .news-link{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid gray;
}
.author{
    text-align: center;
}
.author-list {
	margin: 0, 0, 20px;
    padding: 0;
}
.author-item {
	list-style-type: none;
}
.game-table{
    margin: 20px auto;
    border: 2px solid black;
    border-collapse: collapse;
}
.game-table caption{
	margin: 5px 0;
}
.game-table td, .game-table th{
	border: 1px solid #ccc;
    padding: 10px;
}
input, select{
    margin-left: 10px;
    padding: 5px;
    margin-bottom: 15px;
}
input[type=checkbox], input[type=radio]{
    display: inline-block;
    margin-left: 25px;
}
.label-textarea{
    display:block;
    margin-bottom: 10px;
}
textarea{
    resize: none;
}
.btn{
    padding: 10px;
    border-radius: 20px;
    background-color: chocolate;
    border: none;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    background-color:#ccc;
}
.inner__bg{
    background: #fff;
}
.inner__bg_right{
    background:#ccc;
}
.grid__menu{
   text-align: center; 
   flex-direction: column;
   align-items: flex-start;
}
.sub__menu{
    position:absolute;
    top:-1px;
    left: -160px;
}
.grid__item{
    padding: 10px 15px;
    border: none;
    width: 80%;
    border-bottom: 1px solid black;
}
.sub__menu_item{
    padding: 13px 15px;
}
.grid__item:last-child{
    border: none;
    border-bottom: 1px solid black;
}
.grid__link:hover{
    color:darkviolet;
}
.grid__reviews:hover{
    background: darkgray;
}
.reviews__grid{
    background: darkgray;
}
.game__wrap {
	padding: 10px;
}
.game__img {
    display: block;
	width: 90%;
    height: auto;
    margin: 60px auto 0;
}
.btn__wrap{
    text-align: center;
    margin: 30px 0 30px;
}
.game__btn{
    color: #000;   
}
.game__btn:hover{
    box-shadow:0 0 5px aqua;
}
.slider_wrapper {
    margin: 0 auto;
    position: relative;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 10px 3px gray;
    margin-top:30px;
    margin-bottom: 50px;
}
.slider-img{
    width: 600px;
    height: 400px;
}
.slider__title{
    position: absolute;
    color:#fff;
    font-style: italic;
    z-index: 4;
    font-size: 26px;
    top:30%;
    left: 27%;
    text-align: center;
}
.slider-item {
	display: inline-block;
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    transition: all 0.5s ease-in-out;
}
.slider-1 {
	opacity: 1;
    z-index: 3;
}
input[type=radio]{
    display: none;
}
.carusel-arrow label{
	border:solid rgba(3, 103, 103, 0.5);
    border-width: 0 5px 5px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    visibility: hidden;
}
.carusel-arrow-prev label {
	position: absolute;
    transform:translateY(-50%) rotate(130deg);
    left: -35px;
    bottom: 50%;
}
.carusel-arrow-next label {
	position: absolute;
    transform: translateY(-50%) rotate(-45deg);
    right: -35px;
    bottom: 50%;
}
.carusel-arrow-next label:nth-child(1),
.carusel-arrow-prev label:nth-child(1){
    visibility: visible;
}
.carusel-indicator{
    position: absolute;
    bottom: -50px;
    left: 45%;
}
.carusel-indicator-item{
    display: inline-block;
    background:rgba(3, 103, 103, 0.5);
    width: 20px;
    height: 6px;
    margin-right: 6px;
    cursor: pointer;
 
}
#slide-1:checked ~ .slider-1, 
#slide-2:checked ~ .slider-2, 
#slide-3:checked ~ .slider-3 {
    z-index: 3;
    opacity: 1;
}
#slide-1:checked ~ .carusel-indicator .indicator-active-1, 
#slide-2:checked ~ .carusel-indicator .indicator-active-2,
#slide-3:checked ~ .carusel-indicator .indicator-active-3 {
    background: rgb(143, 143, 143);
}
#slide-1:checked ~ .carusel-arrow-next label:nth-child(2), 
#slide-2:checked ~ .carusel-arrow-next label:nth-child(3), 
#slide-3:checked ~ .carusel-arrow-next label:nth-child(1) {
    visibility: visible;
}
#slide-1:checked ~ .carusel-arrow-prev label:nth-child(3), 
#slide-2:checked ~ .carusel-arrow-prev label:nth-child(1), 
#slide-3:checked ~ .carusel-arrow-prev label:nth-child(2)  {
    visibility: visible;
}
.game__title {
	text-align: center;
    font-style: italic;
    margin-top: 20px;
}
.game__text {
	padding: 10px 25px;
    
}
.modal-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.form-modal{
    background-color: beige;
    width: 600px;
    height: 500px;
    padding: 10px;
    position: relative;
}
.btn__close{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin:10px 40%;
    padding: 10px;
    border: 1px solid #4f3f5c;
    box-shadow: 0 0 5px #ccc;
}
#modal:target {
	display: flex;
}
